<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid Informational</title>
    <link rel="stylesheet" href="css/precautions.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />
</head>

<body>
    <header>
        <div class="navbar">
            <ul type="none">
                <li><a href="/">HOME</a></li>
                <li><a href="/updates">UPDATES</a></li>
                <li><a href="/symptoms">SYMPTOMS</a></li>
                <li><a href="/hospital">HOSPITALS</a></li>
                <li><a href="/precautions">PRECAUTIONS</a></li>
                <li><a href="https://www.pmcares.gov.in/en/" target="_blank">DONATE</a></li>
            </ul>
        </div>
    </header>
    <div class="head">
        <div class="heading">
            <h1 class="animate__animated animate__backInLeft" style="font-size: 4rem;">PRECAUTIONS</h1>

        </div>
        <img src="./images/3972337.jpg" width="500" height="1000">
    </div>
    
    <div class="section">

        <div class="one">
            <div class="l1">
                <h1 class=" symp animate__animated animate__pulse">Wear a mask. Save lives.</h1>
            </div>
            <div class="r1">
                <img src="./images/mask.png" alt="" class="photu">
            </div>
        </div>
        <div class="one">
            <div class="l2">
                <img src="./images/hand-wash.png" alt="" class="photu">
            </div>
            <div class="r2">
                <h1 class=" symp animate__animated animate__pulse">Wash you hands regularly</h1>
            </div>
        </div>
        <div class="one">
            <div class="l1">
                <h1 class="symp animate__animated animate__pulse">Social Distancing</h1>
            </div>
        <div class="r1">
            <img src="./images/social.png" alt="" class="photu">
        </div>
    </div>
    <div class="one">
        <div class="l2">
            <img src="./images/liquid-soap.png" alt="" class="photu">
        </div>
        <div class="r2">
            <h1 class="symp animate__animated animate__pulse">Use Sanitizer and Disinfectants</h1>
        </div>
    </div>
    <div class="one">
        <div class="l1">
            <h1 class="symp animate__animated animate__pulse">Use Cashless Payment Methods</h1>
        </div>
        <div class="r1">
            <img src="./images/payment.png" alt="" class="photu">
        </div>
    </div>
    <div class="one">
        <div class="l2">
            <img src="./images/avoid-crowds.png" alt="" class="photu">
        </div>
        <div class="r2">
            <h1 class="symp animate__animated animate__pulse">Avoid going to crowded places</h1>
        </div>
    </div>
    
</div>
<section>
    <div class="news">
        <a href="/newsletter" class="newsl">Subscribe to our Newsletter</a>
    </div>
</section>
</body>

</html>