<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid Informational</title>
    <link rel="stylesheet" href="css/symptoms.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />
</head>

<body>
    <header>
        <div class="navbar">
            <ul type="none">
                <li><a href="/">HOME</a></li>
                <li><a href="/updates">UPDATES</a></li>
                <li><a href="/symptoms">SYMPTOMS</a></li>
                <li><a href="/hospital">HOSPITALS</a></li>
                <li><a href="/precautions">PRECAUTIONS</a></li>
                <li><a href="https://www.pmcares.gov.in/en/" target="_blank">DONATE</a></li>
            </ul>
        </div>
    </header>

    <div class="head">

        <div class="heading">
            <h1 class="animate__animated animate__backInLeft" style="font-size: 4rem;">SYMPTOMS</h1>
        </div>
        <div class="illustration">
            <img src="./images/3652872.jpg" width="500" height="100" >
            
        </div>
    </div>


    <div class="type">
        Most Common Symptoms
    </div>
    <div class="section">
        <div class="one">
            <div class="l1">
                <p class="symp animate__animated animate__pulse">Fever</p>
            </div>
            <div class="r1">
                <img src="./images/fever.png" alt="" class="photu">
            </div>
        </div>
        <div class="one">
            <div class="l1">
                <p class="symp animate__animated animate__pulse">Dry Cough</p>
            </div>
            <div class="r1">
                <img src="./images/dry_cough.png" alt="" class="photu">
            </div>
        </div>
        <div class="one">
            <div class="l1">
                <p class="symp animate__animated animate__pulse">Tiredness</p>
            </div>
            <div class="r1">
                <img src="./images/tiredness.png" alt="" class="photu">
            </div>
        </div>
    </div>

    <div class="type">
        Less Common Symptoms
    </div>
    <div class="section">

        <div class="two">
            <div class="l2">
                <img src="./images/aches.png" alt="" class="photu">
            </div>
            <div class="r2">
                <p class="animate__animated animate__pulse symp">Aches and Pains</p>
            </div>
        </div>
        <div class="two">
            <div class="l2">
                <img src="./images/loss_of_taste.png" alt="" class="photu">
            </div>
            <div class="r2">
                <p class="animate__animated animate__pulse symp">Loss of Taste and Smell</p>
            </div>
        </div>
        <div class="two">
            <div class="l2">
                <img src="./images/rash.png" alt="" class="photu">
            </div>
            <div class="r2">
                <p class="animate__animated animate__pulse symp">A rash on skin, or discolouration of fingers</p>
            </div>
        </div>
    </div>

    <div class="type">
        Serious Common Symptoms
    </div>
    <div class="section">

        <div class="one">
            <div class="l1">
                <p class="animate__animated animate__pulse symp">Difficulty Breathing or Shortness Of Breath</p>
            </div>
            <div class="r1">
                <img src="./images/shortness_of_breath.png" alt="" class="photu">
            </div>
        </div>
        <div class="one">
            <div class="l1">
                <p class="animate__animated animate__pulse symp">Chest Pain or Pressure</p>
            </div>
            <div class="r1">
                <img src="./images/chest pain.png" alt="" class="photu">
            </div>
        </div>
        <div class="one">
            <div class="l1">
                <p class="animate__animated animate__pulse symp">Loss of Speech or Movement</p>
            </div>
            <div class="r1">
                <img src="./images/loss_of_speech.png" alt="" class="photu">
            </div>
        </div>
    </div>
    <section>
        <div class="news">
            <a href="/newsletter" class="newsl">Subscribe to our Newsletter</a>
        </div>
    </section>
</body>

</html>