body{
    background-color: rgb(243, 240, 245);
}
.navbar{
    box-sizing: border-box;
    background-color:rgb(192, 134, 243);
    border-radius: 35px;
    display: flex;
    max-width: 90%;
    margin:auto;
    margin-top:20px;
}
.navbar ul{
    overflow: auto;
    display: flex;
    /* justify-content: space-around; */
}
.navbar li{
    float: left;
    padding: 5px 5px;
    margin: 5px 15px;
    font-family: Helvetica,Arial, sans-serif;
    font-size: 15pt;
}
.navbar li a{
    text-decoration: none;
    color: white;
}
.navbar li a:hover{
    color: rgb(4, 0, 255);
}

.main{
    margin: auto;
    margin-top: 100px;
    width: 50%;
    padding: 30px;
    border-radius: 20px;
    border: solid 3px rgb(180, 100, 255);


}

.body{
    /* background-color: aqua; */
    font-family: Helvetica,Arial, sans-serif;
    width: 90%;
    margin:auto;
    margin-top: 50px;
}
.heading{

    /* width: 0%; */
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 30pt;
    text-align: center;
    /* background-color: rgb(180, 100, 255); */
    color:rgb(253, 153, 2);
    border-radius: 15px;
    padding: 10px;
}
.form{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 90%;
    margin: auto;
    /* background-color: rgb(255, 182, 245); */
    border-radius: 20px;
    padding: 5px;
    padding-left: 100px;
}
table{
    background-color: white;
    border-radius: 20px;
    margin: auto;
    /* margin-bottom: 50px; */
    padding: 20px;
    font-family: Helvetica,Arial, sans-serif;
    font-size: 13pt;
}

table tr td{
    /* background-color: burlywood; */
    padding: 10px;
    
}
.submit{
    
    margin: auto;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    /* background-color: rgb(180, 100, 255); */
    text-align: center;
    padding: 10px;
    font-size: 15pt;
}

.btn{
    font-size: 15pt;
    background-color: rgb(180, 100, 255);
    color: white;
    padding: 7px;
    border-radius: 10px;
}
.btn:hover{
    background-color: white;
    color: rgb(180, 100, 255);
    border: solid 3px rgb(180, 100, 255);
}